# Postgres configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=lazerleaderboards
POSTGRES_HOST=localhost
PGDATA=/data/postgres

# Redis configuration
REDIS_PASSWORD=your_redis_password
REDIS_USER=your_redis_user
REDIS_USER_PASSWORD=your_redis_password

# General backend services configuration
ASPNETCORE_ENVIRONMENT=Development
Database__Database=lazerleaderboards
Database__Host=db
Database__Port=5432
Database__Username=postgres
Database__Password=postgres
Redis__Host=redis
Redis__Username=your_redis_user
Redis__Password_your_redis_password
OsuApi__ClientId=00000
OsuApi__ClientSecret=abunchfofbase64

# Score fetcher configuration
Caching__FileTTL=15 # expressed in minutes
EnableDatabaseSeeding=true
RestartPolicy__LeaderboardScanCatchUp=true
RestartPolicy__FirehoseCatchUp=true
ScoreCountUpdateIntervalMinutes=15

# Discord hooks service configuration
DiscordHooks__BeatmapScores__HookURL=https://discord.com
DiscordHooks__BeatmapScores__Enabled=true
DiscordHooks__BeatmapScores__UpdateIntervalMinutes=60

# Restricted user service configuration
DeleteScoresAfter=1 # expressed in days