# Postgres configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=lazerleaderboards
POSTGRES_HOST=localhost
PGDATA=/data/postgres

# General backend services configuration
ASPNETCORE_ENVIRONMENT=Development
Database__Database=lazerleaderboards
Database__Host=db
Database__Port=5432
Database__Username=postgres
Database__Password=postgres
OsuApi__ClientId=00000
OsuApi__ClientSecret=abunchfofbase64

# Score fetcher configuration
Caching__FileTTL=15
EnableDatabaseSeeding=true
RestartPolicy__LeaderboardScanCatchUp=true
RestartPolicy__FirehoseCatchUp=true

# Discord hooks service configuration
DiscordHooks__BeatmapScores__HookURL=https://discord.com
DiscordHooks__BeatmapScores__Enabled=true
DiscordHooks__BeatmapScores__UpdateIntervalMinutes=60

# Restricted user service configuration
DeleteScoresAfter=1