body {
    font-family: "Cascadia Mono", monospace;
    background-color: rgb(35, 35, 35);
    color: white;
}

.mod-difficulty-decrease {
    color: rgb(60, 180, 60);
}

.mod-difficulty-increase {
    color: rgb(180, 60, 60);
}

.mod-conversion {
    color: rgb(120, 60, 180);
}

.mod-automation {
    color: rgb(150, 150, 220);
}

.mod-fun {
    color: rgb(200, 100, 140);
}

.mod-system {
    color: rgb(255, 125, 60);
}

.score-acc-misses {
    display: flex;
    gap: 1em;
}

.score-misses {
    color: red;
}

.scores-table {
    font-weight: 350;
    border-collapse: collapse;
}

.scores-table thead {
    background-color: rgb(45, 45, 45);
}

.scores-table td {
    padding: 0.1em 0.3em 0.1em 0.3em;
}

.score-row-map-image img {
    height: 1em;
    object-fit: cover;
}

.scores-table tbody tr:nth-child(odd) {
    background-color: rgb(35, 35, 35);
}

.scores-table tbody tr:nth-child(even) {
    background-color: rgb(40, 40, 40);
}