body {
    font-family: "Cascadia Mono", monospace;
    background-color: rgb(35, 35, 35);
    color: white;
}

.beatmap-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    background-blend-mode: darken;
    background-size: cover;
    border-radius: 2em;
}

.beatmap-title {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-wrap: wrap;
}

.map-name {
    color: white;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.beatmap-stat {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.stat-bar {
    display: flex;
    gap: 1em;
}

.difficulty-bar {
    height: 1em;
    width: 6em;
    border-radius: 1em;
}