.mod {
    font-weight: bold;
    padding: 0.25em;
    border-radius: 0.25em;
}

.mods {
    display: flex;
    gap: 0.25em;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.mods .mod {
    text-shadow: none;
}

.mod-difficultyDecrease {
    background-color: rgb(179, 255, 102);
    color: rgb(60, 89, 30);
}

.mod-difficultyIncrease {
    background-color: rgb(255, 102, 102);
    color: rgb(89, 30, 30);
}

.mod-conversion {
    background-color: rgb(140, 102, 255);
    color: rgb(45, 30, 89)
}

.mod-automation {
    background-color: rgb(102, 204, 255);
    color: rgb(30, 70, 89);
}

.mod-fun {
    background-color: rgb(255, 102, 171);
    color: rgb(89, 30, 57);
}

.mod-system {
    background-color: rgb(255, 204, 34);
    color: rgb(89, 70, 5);
}

.mod-unknown {
    background-color: rgb(180, 180, 180);
    color: rgb(50, 50, 50);
}

.mods-expand {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
}