.user-ranking {
    font-size: 1.3em;
}

.user-ranking .country-img {
    height: 2em;
}

.user-ranking .player-img {
    height: 2.5em;
}

.calc-button {
    align-self: center;
}

.calc-button:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}